
#container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row .col{
    border: 1px solid black;
}

.row{
    display: flex;
    flex-direction: row;

}

.col{
   
}